.custom-container{
  max-width: 1440px;
  margin: auto;
  padding: 0 64px;
}


@media only screen and (max-width: 1024px) {
  .custom-container {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 800px) {
  .custom-container {
    padding: 0 16px;
  }
}