@import "tailwindcss";


@theme{
    --font-secondary: "Roboto", sans-serif;
    --font-primary:"Raleway", sans-serif;
     --color-border: var(--color-orange-57, #FFB524);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-ring: hsl(221.2 83.2% 53.3%);
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);

  --color-primary:var(--color-chartreuse-green-40, #81C408);
  --color-hover:var(--color-chartreuse-green-32, #679D06);


  --color-primary-foreground: hsl(210 40% 98%);

  --color-bg:var(--color-orange-57, #FFB524);
  --color-text: var(--color-cyan-31, #45595B);

  --color-secondary:var(--color-grey-49, #747D88);


  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 84% 4.9%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 84% 4.9%);
  --color-danger:oklch(63.7% 0.237 25.331);
  --color-success:oklch(72.3% 0.219 149.579);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
/* box-shadow */
  /* --shadow-custom: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   --shadow-custom: 0px 0px 55px 0px #00000066;


}